* {
  font-size: 16px;
}

@media screen and (max-height: 960px) {
  * {
    font-size: 15px;
  }
}
@media screen and (max-height: 910px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-height: 850px) {
  * {
    font-size: 13px;
  }
}
@media screen and (max-height: 800px) {
  * {
    font-size: 12px;
  }
}
@media screen and (max-height: 750px) {
  * {
    font-size: 11px;
  }
}
@media screen and (max-height: 700px) {
  * {
    font-size: 10px;
  }
}
@media screen and (max-height: 650px) {
  * {
    font-size: 9px;
  }
}
@media screen and (max-height: 600px) {
  * {
    font-size: 8px;
  }
}
