{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "files.exclude": {
    "**/.git": true,
    "**/.svn": true,
    "**/.hg": true,
    "**/CVS": true,
    "**/.DS_Store": true,
    ".vscode": true,
    "node_modules": false
  }
}
