.zedi{
    display: flex;
    justify-content: space-between;
}

.fro{
width: 60px;
float: left;
}

.khauf{
    margin-left: 20px;
}

.ret{     
    width: 300px;
}

.rett{
    padding-left: 120px;
    width: 400px;
    
}

@media screen and (min-width: 800px) {
.kod{
    position: absolute; 
    right: 70px;
    display: flex;
}
}

.kod div{
    padding: 6px;
}

.puff{
    transform: scale(3);
}

.zoho{
    display: flex;
    height:56px;
    width: 400px;
    padding-left: 10px;
    margin-left: 20px;
}
.teal{
    text-align: left;
    padding-left: 20px;
}

@media(max-width: 800px){
    .kod {
        position: absolute; 
        right:10px;
        display: flex;
    }
    .rett{
        width: 300px;
        
    }
    .ret{
   
 
        width: 100px;
    }
}